body {
	background-color:lightgray;
	display: table-cell;
	vertical-align: middle;
	font-family: Georgia, 'Times New Roman', Times, serif;
}

a:-webkit-any-link {
	color: -webkit-link;
	cursor: pointer;
	text-decoration: none;
}

#headrow td {
	color:black;
	background-color:lightgrey;
}

html, body {
	height: 100%;
}

html {
	display: table;
	margin: auto;
}

table {
	background-color:lightgray;
	font-family: Georgia, 'Times New Roman', Times, serif;

	border-width: 10px;
	width:100%;
	cursor: default;
}

table tr {
	transition: 0.3s;
}


h2 {
	font-size: 30px;
	color: black;
	margin: 1em
}

#title_name {
	font-size: 70px;
	text-align: right;
}

input[type=submit] {
	font-size: 18px;
    padding:5px 15px;
    background: #fff;
    cursor:pointer;
    -webkit-border-radius: 5px;
	border-radius: 5px;
	transition: 0.3s;
	margin-top: 1em;
}

input[type=submit]:hover {
	size: 115%;
	background-color: #FF6D00;
}

#firsttd {
	background-color:lightgray;
	border-width: 0px;
	width: 1100px;
	height: 100px;
	font-size: 10px;
	color: #000000;
	text-align: center;
}

#firsttd img {
	float: left;
}

#secondtd {
	background-color:lightgray;
	width: 800px;
	height: 200px;
	}

#thirdtd {
	background-color:lightgray;
	width: 800px;
	height: 50px;
	font-size: 16px;
	color: #000;
	text-align:right;
	padding-right: 30px;
	visibility: visible;
	}

#logo {
	background-color:lightgray;
	height:280px;
	text-align: center;
}

#name {
	color: #000000;
	text-align: right;
	font-size: 30px;
	float: right;
	padding: 10px 5px 0px 0px;
}

#secname {
	font-size: 154px;
}

#logon {
	width: 210px;
	font-size: 20px;
	padding: 0px 15px 15px 15px;
	background-color:lightgray;
	color: black;
}

#comt {
	font-size: 28px;
	color: #000000;
}

#hello {
	font-size: 20px;
	color: #000000;
	text-decoration: none;
	visibility: visible;
	margin-bottom: 1em;
	font-size: 24px;
	margin-left: 3px;
	text-align: center;
}

#user_block {
	float: left;
}

#firsttd img {
	float: right;
}

#submenu {
	border-radius: 0px;
	margin-bottom:25px;
	}
#log {
	margin: 60px 20px 300px 20px;
	float: bottom;
	}
#maintable, #mainupdate, #maininput, #maindelete {
	/* margin: 10px 10px 10px 10px;
	font-size: 16px;
	color:black;
	background-color:white;
	width:97%; */
	border: #000;
	border-radius: 50px;
	color:white;
	font-size: 20px;
	width: 450px;
	border-style:solid;
	border-width:1px;
	margin-bottom:20px;
	margin-top:20px;
	border-collapse: collapse;
	width: 100%;
	color: black;
	margin:0px 0px 0px 0px;
}

#maintable tr:nth-child(even) {
	background-color: whitesmoke;
}

#maintable tr:first-child {
	background-color: lightgray;
}

#maintable tr:hover {
	background-color: #FF9100;
}

#maininput tr:nth-child(even) {
	background-color: whitesmoke;
}

#maininput tr:first-child {
	background-color: lightgray;
}

#maininput tr:hover {
	background-color: #FF9100;
}

#mainupdate tr:nth-child(even) {
	background-color: whitesmoke;
}

#mainupdate tr:first-child {
	background-color: lightgray;
}

#mainupdate tr:hover {
	background-color: #FF9100;
}

#maindelete tr:nth-child(even) {
	background-color: whitesmoke;
}

#maindelete tr:first-child {
	background-color: lightgray;
}

#maindelete tr:hover {
	background-color: #FF9100;
}

#deleterow tr {
	border-radius: 0px;
	font-size: 16px;
	margin: 10px 10px 10px 10px;
	width:97%;
	background-color:white;
	border:1px solid black;
}

#deleterow tr:hover {
	background-color: #FF9100;
}

#deleterow tr:nth-child(even) {
	background-color:whitesmoke;
}


#tabsum {
	color:white;
	font-size:20px;
	width:450px;
	border-style:solid;
	border-width:1px;
	margin-bottom:20px;
	margin-top:20px;
	border-collapse: collapse;
	width: 100%;
	color: black;
}

#tabsum th, td {
	text-align: left;
	padding: 8px;
	color: black;
}


#opsum tr:nth-child(even) {background-color: whitesmoke;}

#opsum tr:hover {background-color: lightgrey;}

#updaterow {
	border-radius: 0px;
	font-size: 16px;
	margin: 10px 10px 10px 10px;
	color: white;
	width:97%;
}

#yesnotable {
	border-radius: 10px;
	background-color: lightgrey;
	width:12%;
	margin-top:18px;
}

#logonpage {
	background-color: lightgrey;
	text-align: center;
	color: #000;
	padding: 35px 0px 0px 0px;
	font-size: 25px;
}


#menu {
	border: 0px none;
	border-spacing: 5px 1rem;

}

#menu tr {
	font-size: 18px;
	text-align: center;
	cursor: pointer;
	width: 100%;
	background: lightgrey;
	border-radius: 3px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	letter-spacing: 1px;
	border: 0px none;
	text-decoration: none;
	border: #000 5px;
	margin: 10px;
	padding: 0.5rem;

}

#menu td {
	transition: 0.5s;
	background: white;
	border: #000 5px;
	border-radius: 10px;
	text-align: center;
	width: 10em;
}

#menu td:hover {
	/* font-size: 30px; */
	background-color: #FF6D00;
	color: white;
}

#gena {
	border: #000;
	border-radius: 50px;
	color:white;
	font-size: 20px;
	width: 450px;
	border-style:solid;
	border-width:1px;
	margin-bottom:20px;
	margin-top:20px;
	border-collapse: collapse;
	width: 100%;
	color: black;
	margin:0px 0px 0px 0px;
}

#gena tr:nth-child(even) {
	background-color: whitesmoke;
}


#gena tr:hover {
	/* font-size: 30px; */
	background-color: #FF6D00;
	color: white;
} 

#gena tr:first-child {
	background-color: lightgray;
}

/* 
#mainupdate tr:nth-child(even) {
	background-color: whitesmoke;
}

#mainupdate tr:hover {
	
	background-color: #FF6D00;
	color: white;
}

#mainupdate tr:first-child {
	background-color: lightgray;
} */

a:link {
	color: #000000;
}

a:visited {
	color: #000000;
}

.center {
	width:100%;

}

